.main{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  padding: 10px 0;
  background-color: #ffffff;
  overflow-y: scroll;
  text-align: center;
}

.album-outer{
       width: 160px;
       display:inline-block;
       margin:10px;
       vertical-align: top;
        text-align: center;
      }


 .img{
         height:150px;
         width:150px;
         border-radius: 5%;
       }

 .artist-name{
color: #a6a6a6;
 font-size: 11px;

 font-family: Verdana, Geneva, sans-serif;
 }
